$lato-font: "Lato", sans-serif;
$roboto-font: 'Roboto', sans-serif;

$whiteColor: #ffffff;
$blackColor: #000000;
$blueColor: #0655c7;
$lightBlueColor: #0068ff;
$darkBlueColor: #1c2b3e;
$yellowColor: #ffb92f;
$lightYellowColor: #ffebc2;
$redColor: #ff5d5d;
$lightGrayColor: #f3f5f7;
$darkGrayColor: #8894a7;
$greenColor: #22c993;